<div layout="row" flex="auto" layout-align="start center">
  <div layout="column" layout-padding flex>
    <!-- Fertilizacion form -->
    <div layout="row" flex="auto" ng-if="vm._.includes(['Fertilizacion', 'Plaguicida'], vm.meta.action)">
      <h3 flex="20"> {{vm.meta.cultivo.description }} <span> {{vm.meta.action}}</span></h3>
      <md-input-container md-no-float flex="20">
        <label> Hora y fecha de aplicación</label>
        <input ng-model="vm.item.fecha_aplicacion" placeholder="Hora" type="text" moment-picker="vm.item.fecha_aplicacion" format="DD-MM-YYYY HH:mm A">
      </md-input-container>
      <md-input-container md-no-float flex="20">
        <label>Insumo</label>
        <md-select ng-model="vm.item.insumo" aria-label="Insumo">
          <md-option ng-repeat="insumo in vm.insumos" ng-bind="insumo.nombre" ng-value="insumo.id">
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container  md-no-float flex="20">
        <label> Cantidad</label>
        <input ng-model="vm.item.cantidad" placeholder="Cantidad" type="number">
      </md-input-container>
      <md-input-container md-no-float flex="20">
        <label>Medida</label>
        <md-select ng-model="vm.item.medida" aria-label="Medida">
          <md-option ng-repeat="medida in vm.medidas" ng-bind="medida.nombre" ng-value="medida.id">
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row" ng-if="vm.meta.action === 'Observaciones'">
      <h3 flex="20"> {{vm.meta.cultivo.description }} <span> {{vm.meta.action}}</span></h3>
      <md-input-container md-no-float class="md-block" flex="80">
        <label>Observaciones</label>
        <textarea ng-model="vm.item.observaciones" md-maxlength="150" rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

  </div>
</div>
