<section class="dashboard">
  <div class="header" layout="row" flex layout-align="start center">
    <a flex="50" href="javascript:void(0)" ui-sref="dashboard.cultivos({id: null})">
      <h1 class="title"> Gestión de Cultivos </h1>
    </a>
  </div>
  <hr>

  <!-- home - cultivos list -->
  <md-tabs md-dynamic-height md-border-bottom md-selected="vm.currentTab">
    <md-tab label="Listado">
      <md-card ng-if="!vm.detail">
        <md-card-title>
          <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.item.length || vm.toggleSearch">
            <div class="md-toolbar-tools">
              <span ng-bind="vm.table.title"></span>
              <div flex></div>
              <md-button class="md-icon-button" ng-click="vm.toggleSearch = true">
                <md-icon>search</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-toolbar class="md-table-toolbar md-default" ng-show="vm.toggleSearch" aria-hidden="false">
            <div class="md-toolbar-tools">
              <form flex name="vm.filter.form">
                <md-input-container md-no-float class="md-block">
                  <md-icon class="material-icons">search</md-icon>
                  <input type="text" ng-model="vm.query.filter" placeholder="{{vm.table.search.placeholder}}">
                </md-input-container>
              </form>
              <md-button class="md-icon-button" ng-click="vm.resetTable()">
                <md-icon>close</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <!--detail bar-->
          <md-toolbar class="md-table-toolbar alternate" ng-show="vm.item.length" aria-hidden="false">
            <div class="md-toolbar-tools" flex>
              <div layout="row" layout-padding flex="80">
                <p>{{vm.table.detail.title([vm.item[0].nombre])}}</p>
              </div>
              <div layout="row" flex="20" layout-align="end end">
                <md-button class="md-icon-button" ui-sref="dashboard.cultivos({id: vm.item[0].id})">
                  <md-tooltip md-direction="bottom">
                    Ver Detalle
                  </md-tooltip>
                  <md-icon>search</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.switchTab($event)">
                  <md-icon>mode_edit</md-icon>
                  <md-tooltip md-direction="bottom">
                    Editar
                  </md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.spawnDeleteModal($event, vm.item[0].id)">
                  <md-icon>delete_forever</md-icon>
                  <md-tooltip md-direction="bottom">
                    Eliminar
                  </md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.item = []">
                  <md-icon>close</md-icon>
                  <md-tooltip md-direction="bottom">
                    Cancelar
                  </md-tooltip>
                </md-button>
              </div>
            </div>
          </md-toolbar>

        </md-card-title>
        <md-card-content>
          <div layout="column">
            <md-table-container>
              <table md-table md-row-select ng-model="vm.item" md-progress="vm.promise">
                <thead md-head md-order="vm.query.order" md-on-reorder="vm.getData">
                  <tr md-row>
                    <th md-column md-numeric md-order-by="lote__id"><span>Lote</span></th>

                    <th md-column md-order-by="lote__semilla_utilizada__descripcion">Lote Siembra</th>
                    <th md-column><span>Area de Siembra</span></th>
                    <th md-column md-numeric md-order-by="cantidad">Densidad/Siembra</th>
                    <th md-column><span>Plantas</span></th>
                    <th md-column md-numeric md-order-by="cantidad">Cosechas</th>
                    <th md-column md-order-by="fecha_siembra">Fecha de Siembra</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="data" md-select-id="data.id"  md-auto-select ng-repeat="data in vm.data.results">
                    <td md-cell>{{data.cultivo_lote.id}}</td>
                    <td md-cell>{{data.cultivo_lote.display}}</td>
                    <td md-cell>{{data.area_siembra.nombre || data.area_siembra.codigo }}</td>
                    <td md-cell>{{data.densidad_siembra}}</td>
                    <td md-cell>{{data.cantidad_plantulas}}</td>

                    <td md-cell>{{data.cosecha_cultivo.length}}</td>
                    <td md-cell>{{data.fecha_siembra  | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.data.count}}" md-on-paginate="vm.getData" md-page-select></md-table-pagination>
          </div>
        </md-card-content>
      </md-card>

      <!-- detail -->
      <div ng-if="vm.detail" class="detail" layout="column" flex>
        <div layout="row">
          <md-card flex="50" ng-repeat="item in vm.item">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"> Ficha Técnica</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-list flex>
                <md-list-item>
                  <p> Lote de siembra: {{ item.cultivo_lote.id }}</p>
                </md-list-item>
                <md-list-item>
                  <p> Fecha de siembra: {{ item.fecha_siembra }}</p>
                </md-list-item>
                <md-list-item>
                  <p> Area de Siembra : {{ item.area_siembra.nombre }}</p>
                </md-list-item>
                <md-list-item>
                  <p> Muestras: {{ item.muestras.length }}</p>
                </md-list-item>
                <md-list-item>
                  <p> Cosechas: {{ item.muestras.length }}</p>
                </md-list-item>
              </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
          <md-card flex="50" ng-repeat="item in vm.item">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"> Comportamiento</span>
                <span class="md-subhead">Historia fotografica, fertilizacion, plagas...</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
        </div>

        <md-card flex="80" ng-repeat="item in vm.item">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"> Historico de actividades </span>
              <span class="md-subhead">Historia fotografica, fertilizacion, plagas...</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-list flex>
              <md-subheader class="md-no-sticky">Ficha Tecnica</md-subheader>
              <md-list-item>
                <p> Lote de siembra: {{ item.lote.id }}</p>
              </md-list-item>
              <md-list-item>
                <p> Fecha de siembra: {{ item.fecha_siembra }}</p>
              </md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-tab>
    <!-- home - cultivos - add -->
    <md-tab label="{{vm.detailTab.title}}">
      <div class="activity-setup" layout="column" ng-cloak layout-padding layout-margin>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Información del cultivo</span>
              <span class="md-subhead">Seleccione el lote de siembra y area de siembra</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column" layout-padding>
            <form name="cultivoForm">
              <div layout="row">
                <auto-complete-static flex="40" meta="vm.lotesMeta" data="vm.lotes" ng-model="vm.form.cultivo_lote"></auto-complete-static>
                <div flex="5"></div>
                <auto-complete-static flex="40" meta="vm.areasMeta" data="vm.areasSiembra" ng-model="vm.form.area_siembra"></auto-complete-static>
              </div>
              <div layout-padding layout="column">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm flex="40">
                    <label>Cantidad Plantas</label>
                    <input name="cantidadPlantulas" ng-model="vm.form.cantidad_plantulas" type="number" min="1" required>
                    <div ng-messages="cultivoForm.cantidadPlantulas.$error">
                      <div ng-message="required">Este campo es requerido.</div>
                      <div ng-message="md-minlength">Introduzca un numero mayor a 0</div>
                    </div>
                  </md-input-container>
                  <div flex="5">
                  </div>

                  <md-input-container class="md-block" flex-gt-sm flex="40">
                    <label>Densidad De Siembra</label>
                    <input name="densidadSiembra"ng-model="vm.form.densidad_siembra" type="number" required min="0.0" max="1.0">
                    <div ng-messages="cultivoForm.densidadSiembra.$error">
                      <div ng-message="required">Este campo es requerido.</div>
                      <div ng-message="md-maxlength">Introduzca un numero entre 0 y 1</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout-gt-sm="row">
                  <md-input-container flex-gt-sm flex="30">
                    <label>Código</label>
                    <input ng-model="vm.form.codigo" type="text" required>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Fecha de siembra</label>
                    <md-datepicker ng-model="vm.form.fecha_siembra" md-placeholder="Introduzca fecha" required></md-datepicker>
                  </md-input-container>
                </div>
            </form>


              <div layout-gt-sm="row" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start start">
                  <md-button class="md-accent md-raised">Ayuda</md-button>
                </div>
                <div layout="row" layout-align="end end">
                  <md-button class="md-warn md-raised">Ver listado</md-button>
                  <md-button class="md-primary md-raised" ng-click="vm.handleForm(vm.detailTab.handler)" ng-disabled="!cultivoForm.$valid">{{vm.detailTab.submitButton}}</md-button>
                </div>
              </div>
            </div>
        </md-card>
      </div>
    </md-tab>
  </md-tabs>
</section>
