html,
body,
body * {
  font-family: @ubuntu;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

a {
  margin: 5px auto;
  color: @primary-color;
  text-decoration: none;
  &:hover {
    color: lighten(@primary-color, 10%);
  }
}

.err-msg-input {
  color: #7e431b;
}

.capitalize {
  text-transform: capitalize;
}

md-checkbox:last-of-type {
  margin-bottom: 0;
}

.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: #555;
}

.dropzone-container {
  margin-top: 20px;
  h3 {
    color: #555;
    margin-bottom: 10px;
  }
  .dropzone {
    margin-bottom: 5px;
  }
  .help-text {
    margin-top: 5px;
  }
}

.text-help {
  color: #555;
}

.images-responsive {
  max-width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}

.container-inside {
  line-height: 1.7em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

md-toast {
  z-index: 10000;
}

.md-top {
  position: fixed;
  top: 66px;
}

.md-right {
  position: fixed;
  right: 16px;
}

.md-bottom {
  position: fixed;
  bottom: 66px;
}

.md-left {
  position: fixed;
  left: 16px;
}

md-contact-chips.disabled input {
  display: none !important;
}

.margin-fixed {
  margin: 8px 0px;
}

[role="tabpanel"],
md-tabs {
  transition: none;
}
