.login-content {
  height: 100%;
  background-color: #eee;
  form {
    background-color: #fff;
    padding: 20px
  }
  h2 {
    &.title {
    	color: @dark-gray-color;
      font-weight: 300;
      text-align: center;
    }
  }
}
