* {
  margin: 0;
  font-family: Roboto;
}

html,
body {
  max-height: 100%;
}

.header {
  .logo {
    img {
      vertical-align: middle;
    }
    img.images-responsive:first-child {
      height: 62px;
    }
    img.images-responsive:last-child {
      height: 45px;
    }
  }
}

.fill {
  .wrapper {
    height: ~'calc(100% - 64px)';
  }
  div[ui-view] {
    height: 100%;
  }
  .footer {
    display: none;
  }
}

.wrapper {
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  text-align: center;
  md-toolbar {
    padding: 0;
  }
}

.md-sidenav-left {
  background-color: @accent-color;
  md-content {
    background-color: @accent-color;
  }
  .sidenav-items {
    padding: 0;
    .sidenav-item {
      padding: 12px;
      color: lighten(@accent-color, 60%);
      font-size: 1.2em;
      transition: all .25s ease;
      &:hover,
      &.active {
        cursor: pointer;
        background-color: lighten(@primary-color, 5%);
      }
    }
  }
}
