* {
  margin: 0;
  font-family: Roboto;
}

html,
body {
  max-height: 100%;
}

.header {
  .logo {
    img {
      vertical-align: middle;
    }
    img.images-responsive:first-child {
      height: 62px;
    }
    img.images-responsive:last-child {
      height: 45px;
    }
  }
}

.fill {
  .wrapper, div[ui-view] {
    height: 100%;
  }
}

.wrapper {
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  text-align: center;
  md-toolbar {
    padding: 0;
  }
}

.text-center {
  text-align: center;
}

.roboto {
  font-family: Roboto;
}
