.header {
  img.images-responsive:first-child {
    height: 62px;
  }
  img.images-responsive {
    height: 45px;
  }
}
.footer {
  text-align: center;
  md-toolbar {
    padding: 0;
    margin-top: 20px;
  }
}
